html,
body {
  background: #f5f5f5;
}

.notification-top-right {
  position: fixed;
  display: flex;
  top: 24px;
  right: 24px;
  width: 288px;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  display: none !important;
}
